<a href="https://colab.research.google.com/github/alnajenson252dot/ict_assigntment/blob/main/assignment_02_alna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION NUMBER 1

In [ ]:
# 1st ANSWER

for num in range(1, 101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

QUESTION NUMBER 2

In [ ]:
#2nd ANSWER

units = int(input("Enter units consumed: "))
bill = 0
if units <= 100:
    bill = units * 5
elif units <= 200:
    bill = (100 * 5) + ((units - 100) * 7)
else:
    bill = (100 * 5) + (100 * 7) + ((units - 200) * 10)
print(f"Tot Bill Amount: ₹{bill}")

Enter units consumed: 245
Tot Bill Amount: ₹1650

QUESTION NUMBER 3

In [ ]:
#3rd answer

for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

QUESTION NUMBER 4

In [ ]:
# 4th answer

input_str = input("Enter a number: ")
input_str = str(input_str)
reversed_str = input_str[::-1]
if input_str == reversed_str:
  print("Given num/string is Palindrome")
else:
  print("Given num/string is not Palindrome")

Enter a number: 121
Given num/string is Palindrome